<h3>Bem-vindo(a), Administrador</h3><br>

<clr-tabs>
  <!-- Visão geral -->
  <clr-tab>
    <button clrTabLink>Visão geral</button>
    <ng-template [(clrIfActive)]="overviewActive">
      <clr-tab-content>
        <div class="clr-row">
          <div class="clr-col-4 clr-col-sm-6">
            <div class="card">
              <div class="card-header">
                ONGs cadastradas
              </div>
              <div class="card-block">
                <div class="card-text">
                  {{ numOngs }}
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-4 clr-col-sm-6">
            <div class="card">
              <div class="card-header">
                Eventos publicados
              </div>
              <div class="card-block">
                <div class="card-text">
                  {{ numEventos }}
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-4 clr-col-sm-6">
            <div class="card">
              <div class="card-header">
                Postagens publicadas
              </div>
              <div class="card-block">
                <div class="card-text">
                  {{ numPostagens }}
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-4 clr-col-sm-6">
            <div class="card">
              <div class="card-header">
                Voluntários cadastrados
              </div>
              <div class="card-block">
                <div class="card-text">
                  {{ numUsuarios }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </clr-tab-content>
    </ng-template>
  </clr-tab>

  <!-- ONGs -->
  <clr-tab>
    <button clrTabLink>ONGs</button>
    <ng-template [(clrIfActive)]="ongsActive">
      <clr-tab-content>
        <h4> {{ numOngs }} ONGs cadastradas </h4>

        <table class="table table-noborder">
          <thead>
            <tr>
              <th class="left">Nome da ONG</th>
              <th>Data de fundação</th>
              <th>Número de eventos</th>
              <th>Número de postagens</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ong of ongs">
              <td class="left"><a>{{ ong.nome }}</a></td>
              <td>{{ ong.dataFundacao }}</td>
              <td>{{ ong.idsEventos.length }}</td>
              <td>2</td>
              <td>
                <div class="btn-group btn-link btn-sm">
                  <button class="btn" routerLinkActive="active" routerLink="/ong/{{ ong.id }}">Ver</button>
                  <button class="btn" routerLinkActive="active" routerLink="/ong/{{ ong.id }}/editar">Editar</button>
                  <!-- <button class="btn">Deletar</button> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </clr-tab-content>
    </ng-template>
  </clr-tab>

  <!-- Eventos -->
  <clr-tab>
    <button clrTabLink>Eventos</button>
    <ng-template [(clrIfActive)]="eventsActive">
      <clr-tab-content>
        <h4> {{ numEventos }} Eventos publicados </h4>

        <table class="table table-noborder">
          <thead>
            <tr>
              <th class="left">Título</th>
              <th>Cadastro</th>
              <th>ONG responsável</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of eventos">
              <td class="left"><a>{{ event.nome }}</a></td>
              <td>{{ event.dataCriacao }}</td>
              <td><a *ngFor="let on of ongs">
                <div *ngIf="event.idOng === on.id">
                  {{ on.nome }}
                </div>
              </a>
              </td>
              <td>
                <div class="btn-group btn-link btn-sm">
                  <button class="btn" routerLinkActive="active" routerLink="/evento/{{ event.id }}">Ver</button>
                  <button class="btn" routerLinkActive="active" routerLink="/evento/{{ event.id }}/editar">Editar</button>
                  <button class="btn" routerLinkActive="active" routerLink="/evento/{{ event.id }}/excluir">Deletar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </clr-tab-content>
    </ng-template>
  </clr-tab>

  <!-- Postagens -->
  <clr-tab>
    <button clrTabLink>Postagens</button>
    <ng-template [(clrIfActive)]="postsActive">
      <clr-tab-content>
        <h4> {{ numPostagens }} Postagens publicadas </h4>

        <table class="table table-noborder">
          <thead>
            <tr>
              <th class="left">Título</th>
              <th>Data</th>
              <th>ONG Responsável</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of postagens">
              <td class="left"><a>{{ post }}</a></td>
              <td>{{ data }}</td>
              <td><a>Nome da ONG</a></td>
              <td>
                <div class="btn-group btn-link btn-sm">
                  <button class="btn">Ver</button>
                  <button class="btn">Editar</button>
                  <button class="btn">Deletar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </clr-tab-content>
    </ng-template>
  </clr-tab>

  <!-- Usuários -->
  <clr-tab>
    <button clrTabLink>Usuários</button>
    <ng-template [(clrIfActive)]="usersActive">
      <clr-tab-content>
        <h4> {{ numUsuarios }} Usuários cadastrados </h4>

        <table class="table table-noborder">
          <thead>
            <tr>
              <th class="left">Nome Completo</th>
              <th>Ingresso</th>
              <th>Quantidade de eventos comparecidos</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vol of voluntarios">
              <td class="left"><a>{{ vol.nome }}</a></td>
              <td>{{ vol.dataCriacao }}</td>
              <td>{{ vol.idsEventosConfirmados.length }}</td>
              <td>
                <div class="btn-group btn-link btn-sm">
                  <button class="btn" routerLinkActive="active" routerLink="/usuario/{{ vol.id }}">Ver</button>
                  <button class="btn" routerLinkActive="active" routerLink="/usuario/{{ vol.id }}/editar">Editar</button>
                  <!-- <button class="btn">Deletar</button> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </clr-tab-content>
    </ng-template>
  </clr-tab>

</clr-tabs>
<!--<router-outlet></router-outlet>-->