<div class="card">
  <div class="card-header clr-row">
    <div class="clr-col">
      <clr-icon shape="talk-bubbles"></clr-icon>
      Nome da Postagem
    </div>
    <div class="clr-col-auto">
      <span class="p4">por</span>
      <strong class="h2">
        Nome da ONG
      </strong>
      <img class="clr-col-12 clr-col-md-auto post-author-img" src="assets/images/ong.png" alt="ONG">
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      He was charismatic, magnetic, electric and everybody knew it.<br>
      When he walked in every woman's head turned, everyone stood up to talk to him.<br>
      He was like this hybrid, this mix of a man who couldn't contain himself.
    </div>
  </div>
  <div class="card-footer clr-row">
    <div class="clr-col">
      <button *ngIf="auth?.currentUserValue?.tipo == 'voluntario'" class="btn btn-sm btn-link">
        <clr-icon shape="heart"></clr-icon>
        Favoritar
      </button>
    </div>
    <div class="clr-col-auto">
      <span class="p8" style="margin-top:0.5rem;">
        Postado às 18:35 em 21/08/1998
      </span>
    </div>
  </div>
</div>