.seguidor-card {
    max-width: 80px; 
    max-height: 80px; 
    border-radius: 50%;
    float: right;
    object-fit: cover;
    padding: 0;
    margin: 0;
    background-color: white;
    box-shadow: 0 2px 3px rgb(129, 129, 129);
}

.post-author-img {
    display: inline-block;
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
    padding: 0;
    margin: -0.5rem -1.75rem -0.5rem 0;
    box-shadow: 0 2px 3px rgb(129, 129, 129);
    background-color: white;
  }
  