<div class="clr-row">
  <!-- Coluna da esquerda -->
  <div class="clr-col-sm-12 clr-col-md-3">
    <div class="clr-row">
      <div class="clr-col">
        <!-- Card com informações da ONG-->
        <div class="card">
          <div class="card-img">
            <img src="assets/images/ong.png" alt="Logo ONG">
          </div>
          <div class="card-header">
            <h2 style="text-align: center">{{ong.nome}}</h2>
          </div>
          <!-- Quem Somos -->
          <div class="card-block">
            <div class="card-title">
              Quem somos
            </div>
            <div class="card-text">
              {{ong.descricao}}
            </div>
          </div>
          <!-- Contato -->
          <div class="card-block">
            <div class="card-title">
              Contato
            </div>
            <div class="card-text">
              <clr-icon shape="phone-handset" class="is-info"></clr-icon> <strong> Telefone: </strong>{{ong.telefone}}
              <br>
              <clr-icon shape="envelope" class="is-info"></clr-icon> <strong> E-mail: </strong>{{ong.email}}
              <br>
              <clr-icon shape="network-globe" class="is-info"></clr-icon> <strong> Website: </strong> <a>{{ong.urlWebsite}}</a>
              <br>
              <clr-icon shape="network-globe" class="is-info"></clr-icon> <strong> Facebook: </strong> <a>{{ong.urlFacebook}}</a>
            </div>
          </div>
          <!-- Categorias -->
          <div class="card-block">
            <div class="card-title">
              Categorias
            </div>
            <div class="card-text" *ngFor="let area of ong.areas">
              <a class="label label-purple clickable" routerLinkActive="active" routerLink=".">{{area}}</a>
            </div>
          </div>
          <!-- Categorias -->
          <div class="card-block">
            <div class="card-title">
              Doações
            </div>
            <div class="card-text">
              Donate at {{ong.doacoes}}
            </div>
          </div>
          <!-- Botoes -->
          <div class="card-footer">
            <button *ngIf="auth?.currentUserValue?.tipo == 'voluntario'" class="btn btn-sm btn-link">
              <clr-icon shape="bookmark"></clr-icon> Seguir
            </button>
            <button class="btn btn-sm btn-link">
              <clr-icon shape="share"></clr-icon> Compartilhar
            </button>
          </div>
        </div>
        <div *ngIf="auth?.currentUserValue?.tipo == 'ong' || auth?.currentUserValue?.tipo == 'admin'" class="clr-row">
          <div class="clr-col-lg-1 clr-col-md-1 clr-col-12">
            <button class="btn btn-link" routerLinkActive="active" routerLink="editar">Editar perfil</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Coluna da direita -->
  <div class="clr-col">
    <!-- Barra de navegacao-->
    <clr-tabs>
      <!-- Eventos -->
      <clr-tab>
        <button clrTabLink>Eventos</button>
        <ng-template [(clrIfActive)]="eventosActive">
          <clr-tab-content>
            <div class="clr-row">
              <div class="clr-col">
                <h3>Últimos eventos</h3>
              </div>
              <div class="clr-col-auto" *ngIf="auth?.currentUserValue?.tipo == 'ong'">
                <button class="btn btn-sm btn-outline" style="margin: 1rem auto;" routerLinkActive="active"
                  routerLink="add-evento">
                  Novo evento
                </button>
              </div>
              <div class="clr-col-12">
                <app-timeline-evento></app-timeline-evento>
                <app-timeline-evento></app-timeline-evento>
                <app-timeline-evento></app-timeline-evento>
              </div>
              <button class="btn btn-sm btn-outline" style="margin: 1rem auto;">
                Carregar mais antigos
              </button>
            </div>
          </clr-tab-content>
        </ng-template>
      </clr-tab>

      <!-- Postagens -->
      <clr-tab>
        <button clrTabLink>Postagens</button>
        <ng-template [(clrIfActive)]="postagensActive">
          <clr-tab-content>
            <div class="clr-row">
              <div class="clr-col">
                <h3>Últimas postagens</h3>
              </div>
              <div class="clr-col-auto" *ngIf="auth?.currentUserValue?.tipo == 'ong'">
                <button class="btn btn-sm btn-outline" style="margin: 1rem auto;" routerLinkActive="active"
                  routerLink="add-post">
                  Nova postagem
                </button>
              </div>
              <div class="clr-col-12">
                <app-timeline-post></app-timeline-post>
                <app-timeline-post></app-timeline-post>
                <app-timeline-post></app-timeline-post>
                <app-timeline-post></app-timeline-post>
              </div>
              <button class="btn btn-sm btn-outline" style="margin: 1rem auto;">
                Carregar mais antigas
              </button>
            </div>
          </clr-tab-content>
        </ng-template>
      </clr-tab>

      <!-- Seguidores -->
      <clr-tab>
        <button clrTabLink>Seguidores</button>
        <ng-template [(clrIfActive)]="seguidoresActive">
          <clr-tab-content>
            <h3> {{ numSeguidores }} Seguidores </h3>
            <div class="clr-row">
              <div class="clr-col-sm-12 clr-col-md-6" *ngFor="let seguidor of seguidores">
                <a routerLinkActive="active" routerLink="/usuario/user" class="card clickable">
                  <div class="card-header" style="height:auto; overflow:auto;">
                    <img class="seguidor-card" src="assets/images/ong.png" alt="profile-picture" />
                    <h3> {{ seguidor }}</h3>
                  </div>
                </a>
              </div>
            </div>
          </clr-tab-content>
        </ng-template>
      </clr-tab>

      <!-- Galeria -->
      <clr-tab>
        <button clrTabLink>Galeria</button>
        <ng-template [(clrIfActive)]="galeriaActive">
          <clr-tab-content>
            <div class="clr-row">
              <div class="clr-col">
                <h3>Fotos</h3>
              </div>
              <div class="clr-col-auto" *ngIf="auth?.currentUserValue?.tipo == 'ong'">
                <button class="btn btn-sm btn-outline" style="margin: 1rem auto;">
                  Nova foto
                </button>
              </div>
              <div class="clr-col-md-12"></div>
            </div>
            <div class="clr-row">
              <div class="clr-col-md-6 clr-col-12">
                <a class="card card-img">
                  <img src="assets/images/galeria.jpg" />
                </a>
              </div>
              <div class="clr-col-md-6 clr-col-12">
                <a class="card card-img">
                  <img src="assets/images/galeria2.jpg" />
                </a>
              </div>
            </div>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
    </clr-tabs>
  </div>
</div>
<router-outlet></router-outlet>