<div class="modal">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" routerLinkActive="active" routerLink="../">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Editar dados da ONG</h3>
      </div>
      <div class="modal-body">
        <form clrForm>
          <section novalidate class="form-block">

            <clr-input-container class="form-group">
              <label>Nome</label>
              <input clrInput type="text" size="30" required placeholder="Atualizar nome" />
              <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              <clr-control-error *clrIfError="'minlength'">Nome deve ter 6+ caracteres</clr-control-error>
            </clr-input-container>

            <clr-input-container class="form-group">
              <label>Telefone</label>
              <input clrInput type="text" size="30" required placeholder="(DDD)XXXX-XXXX" />
              <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              <clr-control-error *clrIfError="'minlength'">Telefone deve ter 14 caracteres</clr-control-error>
              <clr-control-error *clrIfError="'maxlength'">Telefone deve ter 14 caracteres</clr-control-error>
            </clr-input-container>

            <clr-date-container class="form-group">
              <label>Data de fundação</label>
              <input type="text" clrDate name="fundacao" style="width: 230px">
              <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
            </clr-date-container>

            <clr-input-container class="form-group">
              <label>Bairro</label>
              <input clrInput type="text" size="30" required placeholder="Atualizar bairro" />
              <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
            </clr-input-container>

            <clr-input-container class="form-group">
              <label>Logradouro</label>
              <input clrInput type="text" size="30" required placeholder="Atualizar logradouro" />
              <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
            </clr-input-container>

            <clr-input-container class="form-group">
              <label>CEP</label>
              <input clrInput type="text" size="30" required placeholder="Atualizar CEP" />
              <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
            </clr-input-container>

            <clr-input-container class="form-group">
              <label>Complemento</label>
              <input clrInput type="text" size="30" required placeholder="Atualizar complemento" />
              <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
            </clr-input-container>

            <clr-select-container class="form-group">
              <label>Áreas de interesse</label>
              <select clrSelect name="interesse" style="width: 230px" required>
                <option value="animais">Animais</option>
                <option value="cultura">Arte e cultura</option>
                <option value="humanitaria">Humanitária</option>
                <option value="ambiente">Meio ambiente</option>
              </select>
              <clr-control-helper>Escolher categoria</clr-control-helper>
            </clr-select-container>

          </section>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline" type="button" routerLinkActive="active" routerLink="../">Cancelar</button>
        <button class="btn btn-primary" type="button" routerLinkActive="active" routerLink="../">Salvar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>