<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">Dados gerais</button>
    <clr-tab-content id="dados" *clrIfActive>
        <router-outlet></router-outlet>
        <div class="clr-row">
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-12">
            <a class="card clickable">
                <div class="card-img">
                    <img src="assets/images/avatar-2.jpg" alt="avatar">
                </div>
            </a>
        </div>
          <div class="clr-col-lg-4 clr-col-md-4 clr-col-12">
              <h3>Usuária Voluntária</h3>
              <h4><i>20 anos</i></h4>
              <br />
              <ul class="list">
                <li><b>Contato: </b> (062) XXXX-XXXX</li>

              </ul>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-12">
              <h3>Interesses</h3>
              <br />
              <br />
              <br />
              <ul class="list">
                <li>Meio Ambiente</li>
                <li>Cultura</li>
              </ul>
          </div>
          <div class="clr-col-lg-2 clr-col-md-2 clr-col-12">
              <button class="btn btn-link" routerLinkActive="active" routerLink="editar">Editar perfil</button>
          </div>
        </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Participação em eventos</button>
    <clr-tab-content id="eventos" *clrIfActive>

      <div class="clr-row">

        <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
          <div class="card">
            <div class="card-block">
              <div class="card-title">
                <b>Evento 1</b>
              </div>
              <div class="card-text" style="height: 180px;">
                <br /><b>ONG:</b>
                <br />Bluepeace
                <br /><b>Data</b>
                <br />25/05/1541
                <br /><b>Local</b>
                <br />Campus Samambaia
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link" routerLinkActive="active" routerLink="">Ver evento</button>
            </div>
          </div>
        </div>

        <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
          <div class="card">
            <div class="card-block">
              <div class="card-title">
                <b>Evento 2</b>
              </div>
              <div class="card-text" style="height: 180px;">
                <br /><b>ONG:</b>
                <br />Yellowpeace
                <br /><b>Data</b>
                <br />25/05/1541
                <br /><b>Local</b>
                <br />Campus Samambaia
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link" routerLinkActive="active" routerLink="">Ver evento</button>
            </div>
          </div>
        </div>

        <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
          <div class="card">
            <div class="card-block">
              <div class="card-title">
                <b>Evento 3</b>
              </div>
              <div class="card-text" style="height: 180px;">
                <br /><b>ONG:</b>
                <br />Redpeace
                <br /><b>Data</b>
                <br />25/05/1541
                <br /><b>Local</b>
                <br />Campus Samambaia
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link" routerLinkActive="active" routerLink="">Ver evento</button>
            </div>
          </div>
        </div>

      </div>


    </clr-tab-content>
  </clr-tab>

</clr-tabs>