<h3>Bem-vindo(a), Clube do Gato</h3><br>

<clr-tabs>
  <!-- Visão geral -->
  <clr-tab>
    <button clrTabLink>Visão geral</button>
    <ng-template [(clrIfActive)]="overviewActive">
      <clr-tab-content>
        <div class="clr-row">
          <div class="clr-col-sm-12 clr-col-md-4">
            <div class="card">
              <div class="card-header">
                Eventos publicados
              </div>
              <div class="card-block">
                <div class="card-text">
                  {{ numEventos }}
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-sm-12 clr-col-md-4">
            <div class="card">
              <div class="card-header">
                Postagens publicadas
              </div>
              <div class="card-block">
                <div class="card-text">
                  {{ numPostagens }}
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-sm-12 clr-col-md-4">
            <div class="card">
              <div class="card-header">
                Voluntários confirmados
              </div>
              <div class="card-block">
                <div class="card-text">
                  {{ numVoluntarios }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3>
          Próximos eventos
        </h3>
        <div class="clr-row">
          <app-evento-card class="clr-col-xl-4 clr-col-lg-6 clr-col-md-6 clr-col-12"></app-evento-card>
          <app-evento-card class="clr-col-xl-4 clr-col-lg-6 clr-col-md-6 clr-col-12"></app-evento-card>
          <app-evento-card class="clr-col-xl-4 clr-col-lg-6 clr-col-md-6 clr-col-12"></app-evento-card>
        </div>
      </clr-tab-content>
    </ng-template>
  </clr-tab>

  <!-- Eventos -->
  <clr-tab>
    <button clrTabLink>Eventos</button>
    <ng-template [(clrIfActive)]="eventsActive">
      <clr-tab-content>
        <div class="clr-row">
          <div class="clr-col">
            <h4> {{ numEventos }} Eventos publicados </h4>
          </div>
          <div class="clr-col-auto">
            <button class="btn btn-sm btn-outline" style="margin-top:1rem;" routerLinkActive="active"
              routerLink="/ong/1/add-evento">
              <clr-icon shape="plus is-primary"></clr-icon> Novo evento
            </button>
          </div>
        </div>

        <table class="table table-noborder">
          <thead>
            <tr>
              <th class="left">Título</th>
              <th>Data de cadastro</th>
              <th>ONG responsável</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of eventos">
              <td class="left"><a>{{ event }}</a></td>
              <td>{{ data }}</td>
              <td><a>Nome da ONG</a></td>
              <td>
                <div class="btn-group btn-link btn-sm">
                  <button class="btn">Ver</button>
                  <button class="btn">Editar</button>
                  <button class="btn">Deletar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </clr-tab-content>
    </ng-template>
  </clr-tab>

  <!-- Postagens -->
  <clr-tab>
    <button clrTabLink>Postagens</button>
    <ng-template [(clrIfActive)]="postsActive">
      <clr-tab-content>
        <div class="clr-row">
          <div class="clr-col">
            <h4> {{ numPostagens }} Postagens publicadas </h4>
          </div>
          <button class="clr-col-auto btn btn-sm btn-outline" style="margin-top:1rem;" routerLinkActive="active"
            routerLink="/ong/1/add-post">
            <clr-icon shape="plus is-primary"></clr-icon> Nova postagem
          </button>
        </div>

        <table class="table table-noborder">
          <thead>
            <tr>
              <th class="left">Título</th>
              <th>Data</th>
              <th>ONG Responsável</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of postagens">
              <td class="left"><a>{{ post }}</a></td>
              <td>{{ data }}</td>
              <td><a>Nome da ONG</a></td>
              <td>
                <div class="btn-group btn-link btn-sm">
                  <button class="btn">Ver</button>
                  <button class="btn">Editar</button>
                  <button class="btn">Deletar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </clr-tab-content>
    </ng-template>
  </clr-tab>

</clr-tabs>

<!--<router-outlet></router-outlet>-->