.content-container {
    overflow: auto;
}

#content-area {
    margin-left: auto;
    margin-right: auto;
    min-width: 70%;
    max-width: 1000px;
    overflow: visible;
    height: min-content;
    padding: 1rem;
}