<div class="main-container">
  <header class="header-1">
    <div class="branding">
        <a href="home" class="nav-link">
            <clr-icon shape="eye"></clr-icon>
            <span class="title" clrVerticalNavLink routerLinkActive="active" routerLink="./home">
            Mobiliza
            </span>
        </a>
    </div>
    <div class="header-nav">
      <a class="nav-link nav-text" clrVerticalNavLink routerLinkActive="active" routerLink="./eventos">Eventos</a>
      <a class="nav-link nav-text" clrVerticalNavLink routerLinkActive="active" routerLink="./ongs">ONGs</a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger>
              <clr-icon shape="user"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a routerLinkActive="active" routerLink="./add-voluntario" clrDropdownItem>Cadastrar voluntário</a>
              <a routerLinkActive="active" routerLink="./add-ong" clrDropdownItem>Cadastrar ONG</a>
              <a routerLinkActive="active" routerLink="./usuario/1a2b3c" clrDropdownItem>Ver perfil</a>
          </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>