<router-outlet></router-outlet>
<!-- Home do convidado -->
<div *ngIf="auth?.currentUserValue == null">
  <div style="text-align: center">
    <clr-icon shape="users" size="72" class="is-info"></clr-icon>
    <h1>Seja bem-vindo(a) ao iVolunteer</h1>
    <h3>
      <clr-icon shape="world" size="20" class="is-highlight"></clr-icon> Cadastre-se como ONG para divulgar seu trabalho
      e encontrar colaboradores.
    </h3>
    <h3>
      <clr-icon shape="user" size="20" class="is-highlight"></clr-icon> Cadastre-se como voluntário para encontrar as
      melhores oportunidades de ajudar perto de você!
    </h3>
    <h2>Junte-se a nós!</h2>
    <hr>
  </div>
  <app-timeline></app-timeline>
</div>
<!-- Home da ONG -->
<div *ngIf="auth?.currentUserValue?.role == 'ong'">
  <app-perfil-ong></app-perfil-ong>
</div>
<!-- Home do voluntário -->
<div *ngIf="auth?.currentUserValue?.role == 'voluntario'">
  <app-timeline></app-timeline>
</div>
<!-- Home do administrador -->
<div *ngIf="auth?.currentUserValue?.role == 'admin'">
  <app-dashboard-admin></app-dashboard-admin>
</div>