<router-outlet></router-outlet>
<!-- Home do convidado -->
<div *ngIf="auth?.currentUserValue == null">
  junte-se a nós<br>
  página inicial de convidado
</div>
<!-- Home da ONG -->
<div *ngIf="auth?.currentUserValue?.role == 'ong'">
  <app-perfil-ong></app-perfil-ong>
</div>
<!-- Home do voluntário -->
<div *ngIf="auth?.currentUserValue?.role == 'voluntario'">
  <app-timeline></app-timeline>
</div>
<!-- Home do administrador -->
<div *ngIf="auth?.currentUserValue?.role == 'admin'">
  <app-dashboard-admin></app-dashboard-admin>
</div>