<div class="clr-row">
  <div class="clr-col-md-2"></div>
  <div class="clr-col-md-8">
    <div class="card">
      <div class="card-header">
        Criar conta de ONG
      </div>
      <div class="card-block">
        <div class="card-text">
          <form clrForm>
            <section novalidate class="form-block">

              <clr-input-container class="form-group">
                <label>Nome</label>
                <input clrInput type="text" formControlName="name" size="30" required placeholder="Inserir nome" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
                <clr-control-error *clrIfError="'minlength'">Nome deve ter 6+ caracteres</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>Telefone</label>
                <input clrInput type="text" formControlName="telefone" size="30" required
                  placeholder="(DDD)XXXX-XXXX" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
                <clr-control-error *clrIfError="'minlength'">Telefone deve ter 14 caracteres</clr-control-error>
                <clr-control-error *clrIfError="'maxlength'">Telefone deve ter 14 caracteres</clr-control-error>
              </clr-input-container>

              <clr-date-container class="form-group">
                <label>Data de fundação</label>
                <input type="text" clrDate name="fundacao" style="width: 230px">
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-date-container>

              <clr-input-container class="form-group">
                <label>Bairro</label>
                <input clrInput type="text" formControlName="bairro" size="30" required placeholder="Inserir bairro" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>Logradouro</label>
                <input clrInput type="text" formControlName="logradouro" size="30" required
                  placeholder="Inserir logradouro" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>CEP</label>
                <input clrInput type="text" formControlName="cep" size="30" required placeholder="Inserir CEP" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>Complemento</label>
                <input clrInput type="text" formControlName="complemento" size="30" required
                  placeholder="Inserir complemento" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-checkbox-container class="form-group">
                <label>Áreas de interesse</label>
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox value="animais" name="animais" />
                    <label>Animais</label>
                </clr-checkbox-wrapper>
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox value="cultura" name="cultura" />
                    <label>Arte e cultura</label>
                </clr-checkbox-wrapper>
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox value="humanitaria" name="humanitaria" />
                    <label>Humanitária</label>
                </clr-checkbox-wrapper>
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox value="ambiente" name="ambiente" />
                    <label>Meio ambiente</label>
                </clr-checkbox-wrapper>
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox value="saude" name="saude" />
                    <label>Saúde</label>
                </clr-checkbox-wrapper>
                <clr-control-helper>Escolher áreas de interesse</clr-control-helper>
              </clr-checkbox-container>
            </section>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" type="button" routerLinkActive="active" routerLink="../">Salvar</button>
        <button class="btn btn-sm btn-link" type="button" routerLinkActive="active" routerLink="../">Cancelar</button>
      </div>
    </div>
  </div>
</div>