<div class="clr-row clr-justify-content-center">
  <div class="clr-col-sm-12 clr-col-md-auto">
    <div class="card">
      <div class="card-header">
        Cadastrar ONG
      </div>
      <div class="card-block">
        <div class="card-text">
          <form clrForm #ongForm="ngForm" (ngSubmit)="onSubmit()">

            <section class="form-block">
              <clr-input-container class="form-group">
                <label>Usuário</label>
                <input clrInput type="text" size="30" required placeholder="Inserir usuário"
                  [(ngModel)]="novaOng.username" name="username" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-password-container class="form-group">
                <label>Senha</label>
                <input clrPassword type="password" style="width: 195px" required placeholder="Inserir senha"
                  [(ngModel)]="novaOng.senha" name="senha" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
                <clr-control-error *clrIfError="'minlength'">Senha deve ter 6+ caracteres
                </clr-control-error>
              </clr-password-container>

              <clr-input-container class="form-group">
                <label>Nome</label>
                <input clrInput type="text" size="30" required placeholder="Inserir nome" [(ngModel)]="novaOng.nome"
                  name="novaOng" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>Descrição</label>
                <input clrInput type="textarea" size="30" required placeholder="Inserir descrição"
                  [(ngModel)]="novaOng.descricao" name="descricao" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>Doações</label>
                <input clrInput type="textarea" size="30" required placeholder="Inserir doações"
                  [(ngModel)]="novaOng.doacoes" name="doacoes" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-date-container class="form-group">
                <label>Data de fundação</label>
                <input type="text" clrDate name="fundacao" style="width: 230px">
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-date-container>

              <div class="from-group">
                <label style="color: #000000; margin-left: -1.5%; margin-top: 5%; margin-right: 30%"><b>Áreas</b></label>
                <div class="clr-control-container" style="max-width: 200px">
                  <ng-select [items]="areas" [multiple]="true" [closeOnSelect]="false" [(ngModel)]="novaOng.areas"
                    name="areas">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="id-{{index}}" />
                      {{item}}
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <h3>Contato</h3>

              <clr-input-container class="form-group">
                <label>Telefone</label>
                <input clrInput type="text" size="30" required placeholder="(DDD)XXXXX-XXXX"
                  [(ngModel)]="novaOng.telefone" name="telefone" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>Email</label>
                <input clrInput type="text" size="30" required placeholder="Inserir email" [(ngModel)]="novaOng.email"
                  name="email" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>Facebook</label>
                <input clrInput type="text" size="30" required placeholder="Inserir URL Facebook"
                  [(ngModel)]="novaOng.urlFacebook" name="urlFacebook" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>Website</label>
                <input clrInput type="text" size="30" required placeholder="Inserir URL Website"
                  [(ngModel)]="novaOng.urlWebsite" name="urlWebsite" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <h3>Endereço</h3>

              <clr-input-container class="form-group">
                <label>UF</label>
                <input clrInput type="text" size="10" required placeholder="Inserir UF"
                  [(ngModel)]="novaOng.endereco.uf" name="uf" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>Cidade</label>
                <input clrInput type="text" size="30" required placeholder="Inserir Cidade"
                  [(ngModel)]="novaOng.endereco.cidade" name="cidade" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>CEP</label>
                <input clrInput type="text" size="30" required placeholder="Inserir CEP"
                  [(ngModel)]="novaOng.endereco.cep" name="cep" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>Bairro</label>
                <input clrInput type="text" size="30" required placeholder="Inserir bairro"
                  [(ngModel)]="novaOng.endereco.bairro" name="bairro" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>Complemento 1</label>
                <input clrInput type="text" size="30" required placeholder="Inserir complemento"
                  [(ngModel)]="novaOng.endereco.complemento1" name="complemento1" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>

              <clr-input-container class="form-group">
                <label>Complemento 2</label>
                <input clrInput type="text" size="30" required placeholder="Inserir complemento"
                  [(ngModel)]="novaOng.endereco.complemento2" name="complemento2" />
                <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
              </clr-input-container>
            </section>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!ongForm.form.valid" (click)="onSubmit()">Salvar</button>
        <button class="btn btn-link" type="button" routerLinkActive="active" routerLink="../../">Cancelar</button>
      </div>
    </div>
  </div>
</div>