<div class="clr-row">
  <div class="clr-col-6">
    <h3>ONGs</h3>
  </div>
  <div class="clr-col-6">
    <button class="btn btn-sm" routerLinkActive="active" routerLink="filtrar" style="margin: 1rem 0 0 auto; display: table;">
<clr-icon shape="search is-primary"></clr-icon> Filtrar ONGs
</button>
</div>
<app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
<app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
<app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
<app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
<app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
<app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
<app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
<app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
<app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
<app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
<app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
<app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
</div>
<router-outlet></router-outlet>