<div class="clr-row">
  <div class="clr-col-auto">
    <h3>ONGs</h3>
  <!-- </div>
  <div class="clr-col-6">
    <button class="btn btn-sm" routerLinkActive="active" routerLink="filtrar"
      style="margin: 1rem 0 0 auto; display: table;">
      <clr-icon shape="search is-primary"></clr-icon> Filtrar ONGs
    </button>
  </div> -->
</div>
<div class="clr-row">
  <div class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12" *ngFor="let ong of ongs">
      <a routerLinkActive="active" routerLink="/ong/{{ong.id}}" class="card clickable">
        <div class="card-img" style="height: 220px">
          <img src="{{(ong && ong.imgPerfil) ? ong.imgPerfil : imgPerfilOngPadrao }}" alt="ong" />
        </div>
        <div class="card-block">
          <div class="card-title">
            <b>{{ong.nome}}</b>
          </div>
          <p class="card-text short-description" style="height: 120px">
            {{ong.descricao}}
          </p>
        </div>
        <div class="card-footer" style="height: 70px">
          <div *ngFor="let area of ong.areas">
            <a routerLinkActive="active" routerLink="." class="label clickable">{{area}}</a>
          </div>
        </div>
      </a>
  </div>
</div>
<router-outlet></router-outlet>