<a routerLinkActive="active" routerLink="/evento/a12b3c" class="card clickable">
  <div class="card-header clr-row">
    <div class="clr-col">
      <clr-icon shape="calendar"></clr-icon>
      Nome do Evento
    </div>
    <div class="clr-col-auto">
      <span class="p4">por</span>
      <span class="h2">
        Nome da ONG
      </span>
      <img class="clr-col-12 clr-col-md-auto post-author-img" src="assets/images/ong.png" alt="ONG">
    </div>
  </div>
  <div class="card-img">
    <img src="assets/images/evento.jpg" alt="ong" style="max-height:300px;object-fit: cover;" />
  </div>
  <div class=" card-block">
    <div class="card-text">
      <div class="clr-row" style="margin-bottom:5px;">
        <div class="clr-col-auto">
          <clr-icon shape="clock" class="is-info"></clr-icon>
          24/08/2018
        </div>
        <div class="clr-col-auto">
          <clr-icon shape="map-marker" class="is-info"></clr-icon>
          Setor Sudoeste
        </div>
        <div class="clr-col"></div>
        <div class="clr-col-auto">
          <span class="label">Animais</span>
          <span class="label">Meio ambiente</span>
        </div>
      </div>
      He was charismatic, magnetic, electric and everybody knew it.<br>
      When he walked in every woman's head turned, everyone stood up to talk to him.<br>
      He was like this hybrid, this mix of a man who couldn't contain himself.
    </div>
  </div>
  <div class="card-footer clr-row">
    <div class="clr-col">
      <button *ngIf="auth?.currentUserValue?.role == 'voluntario'" class="btn btn-sm btn-link">
        <clr-icon shape="heart"></clr-icon>
        Favoritar
      </button>
    </div>
    <div class="clr-col-auto">
      <span class="p8" style="margin-top:0.5rem;">
        Postado às 18:35 em 21/08/1998
      </span>
    </div>
  </div>
</a>
<!--<router-outlet></router-outlet>-->