<clr-main-container>
  <clr-header class="header header-6">
    <div class="branding">
        <div class="nav-link">
            <clr-icon shape="users"></clr-icon>
            <span class="title">{{title}}</span>
        </div>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link nav-text" clrVerticalNavLink routerLinkActive="active" routerLink="/home">Início</a>
      <a class="nav-link nav-text" clrVerticalNavLink routerLinkActive="active" routerLink="/eventos">Eventos</a>
      <a class="nav-link nav-text" clrVerticalNavLink routerLinkActive="active" routerLink="/ongs">ONGs</a>
    </div>
    <div class="header-actions">
      <!-- Botão de entrar -->
      <a *ngIf="auth?.currentUserValue == null" routerLinkActive="active" routerLink="/login" class="nav-link nav-text">
        Entrar
      </a>
      <!-- Menu de criar conta -->
      <clr-dropdown *ngIf="auth?.currentUserValue == null">
        <button class="nav-text" clrDropdownTrigger>
          Cadastrar
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a routerLinkActive="active" routerLink="/cadastrar/voluntario" clrDropdownItem>Cadastrar como
            voluntário</a>
          <a routerLinkActive="active" routerLink="/cadastrar/ong" clrDropdownItem>Cadastrar como ONG</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <!-- Menu de usuario logado -->
      <clr-dropdown *ngIf="auth?.currentUserValue">
        <button class="nav-text" clrDropdownTrigger>
          {{auth?.currentUserValue?.name}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a *ngIf="auth?.currentUserValue?.role == 'voluntario'" routerLinkActive="active" routerLink="/usuario/1"
            clrDropdownItem>Ver perfil</a>
          <a *ngIf="auth?.currentUserValue?.role == 'ong'" routerLinkActive="active" routerLink="/ong/2"
            clrDropdownItem>Ver perfil</a>
          <a (click)="logout()" clrDropdownItem>Sair</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area" id="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>