<div style="text-align: center">
  <clr-icon shape="users" size="72" class="is-info"></clr-icon>
  <h1>Seja bem-vindo(a) ao iVolunteer</h1>
  <h3>
    <clr-icon shape="user" size="20" class="is-highlight"></clr-icon>&nbsp;<a routerLinkActive="active"
      routerLink="/cadastrar/voluntario">Cadastre-se como voluntário</a> para encontrar ONGs e oportunidades de trabalho
    voluntário perto de você!
  </h3>
  <h3>
    <clr-icon shape="world" size="20" class="is-highlight"></clr-icon>&nbsp;<a routerLinkActive="active"
      routerLink="/cadastrar/ong">Cadastre-se como ONG</a> para divulgar seu trabalho e encontrar colaboradores.
  </h3>
  <h2>Junte-se a nós!</h2>
</div>
<hr>
<h2>Eventos em destaque</h2>
<div class="clr-row">
  <app-evento-card class="clr-col-xl-4 clr-col-lg-6 clr-col-md-6 clr-col-12"></app-evento-card>
  <app-evento-card class="clr-col-xl-4 clr-col-lg-6 clr-col-md-6 clr-col-12"></app-evento-card>
  <app-evento-card class="clr-col-xl-4 clr-col-lg-6 clr-col-md-6 clr-col-12"></app-evento-card>
</div>

<h2>ONGs em destaque</h2>
<div class="clr-row">
  <app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
  <app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
  <app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
  <app-ong-card class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12"></app-ong-card>
</div>