<div style="text-align: center">
  <clr-icon shape="users" size="72" class="is-info"></clr-icon>
  <h1>Seja bem-vindo(a) ao iVolunteer</h1>
  <h3>
    <clr-icon shape="user" size="20" class="is-highlight"></clr-icon>&nbsp;<a routerLinkActive="active"
      routerLink="/cadastrar/voluntario">Cadastre-se como voluntário</a> para encontrar ONGs e oportunidades de trabalho
    voluntário perto de você!
  </h3>
  <h3>
    <clr-icon shape="world" size="20" class="is-highlight"></clr-icon>&nbsp;<a routerLinkActive="active"
      routerLink="/cadastrar/ong">Cadastre-se como ONG</a> para divulgar seu trabalho e encontrar colaboradores.
  </h3>
  <h2>Junte-se a nós!</h2>
</div>
<hr>
<h2>Eventos em destaque</h2>
<div class="clr-row">
  <div class="clr-row">
    <div class="clr-col-xl-4 clr-col-lg-6 clr-col-md-6 clr-col-12" *ngFor="let evento of eventos">
        <a routerLinkActive="active" routerLink="/evento/{{evento.id}}" class="card clickable">
          <div class="card-header clr-row">
            <div class="clr-col">
              {{evento.nome}}
              <div *ngFor="let ong of ongs">
                  <div *ngIf="evento.idOng === ong.id">
                    <small>{{ ong.nome }}</small>
                  </div>
              </div>
            </div>
            <br>
          </div>

          <div class="card-img" style="height: 200px">
            <img src="{{(evento && evento.img) ? evento.img : imgEventoPadrao }}" alt="ong" style="max-height:200px;object-fit: cover;" />
          </div>
          <div class=" card-block">
            <div class="card-text" style="height: 100px">
              <div class="clr-row" style="margin-bottom:5px;">
                <div class="clr-col-auto">
                  <clr-icon shape="clock" class="is-info"></clr-icon>
                  {{evento.dataRealizacao}}
                </div>
                <div class="clr-col-auto">
                  <clr-icon shape="map-marker" class="is-info"></clr-icon>
                  {{evento.local.bairro}}
                </div>
              </div>
              {{evento.descricao}}
            </div>
          </div>
          </a>
    </div>
  </div>
</div>

<h2>ONGs em destaque</h2>
<div class="clr-row">
  <div class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12" *ngFor="let ong of ongs">
      <a routerLinkActive="active" routerLink="/ong/{{ong.id}}" class="card clickable">
        <div class="card-img" style="height: 220px">
          <img src="{{(ong && ong.imgPerfil) ? ong.imgPerfil : imgPerfilOngPadrao }}" alt="ong" style="height: 220px"/>
        </div>
        <div class="card-block">
          <div class="card-title">
            <b>{{ong.nome}}</b>
          </div>
          <p class="card-text short-description" style="height: 120px">
            {{ong.descricao}}
          </p>
        </div>
        <div class="card-footer" style="height: 70px">
          <div *ngFor="let area of ong.areas">
            <a routerLinkActive="active" routerLink="." class="label clickable">{{area}}</a>
          </div>
        </div>
      </a>
  </div>
</div>