<div class="modal static bump-down">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" routerLinkActive="active" routerLink="..">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Excluir evento</h3>
      </div>
      <strong>Você tem certeza que deseja excluir o evento selecionado?</strong>
      <br>
      <clr-icon shape="exclamation-circle" size="22" class="is-error"></clr-icon> Esta ação será permanente.
      <div class="modal-footer">
        <form clrForm #eventForm="ngForm" (ngSubmit)="onSubmit()">
          <button class="btn btn-outline-danger" type="button" routerLinkActive="active" routerLink="..">Cancelar</button>
          <button type="submit" class="btn btn-danger" [clrLoading]="submitBtnState"
            (click)="onSubmit()">Excluir</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>