<div class="modal">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" routerLinkActive="active" routerLink="..">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Novo evento</h3>
      </div>
      <div class="modal-body">
        <form clrForm #eventForm="ngForm" (ngSubmit)="onSubmit()">
          <section novalidate class="form-block">
            <clr-input-container class="form-group">
              <label clr-col-12 clr-col-md-2>Nome</label>
              <input clr-col-12 clr-col-md-6 clrInput type="text" size="35" [(ngModel)]="novoEvento.nome" name="nome"
                required placeholder="Nome do Evento" />
            </clr-input-container>
            <clr-textarea-container class="form-group">
              <label clr-col-12 clr-col-md-2>Descrição</label>
              <textarea clr-col-12 clr-col-md-4 clrTextarea type="text" size="35" required
                [(ngModel)]="novoEvento.descricao" name="descricao" placeholder="Descrição do Evento"></textarea>
            </clr-textarea-container>
            <clr-input-container class="form-group">
              <label clr-col-12 clr-col-md-2>Data:</label>
              <input clr-col-12 clr-col-md-4 clrInput type="date" [(ngModel)]="novoEventoDataTemp" name="dataRealizacao"
                size="35" required placeholder="Data do evento" />
            </clr-input-container>

            <clr-input-container class="form-group">
              <label clr-col-12 clr-col-md-2>Horário:</label>
              <input clr-col-12 clr-col-md-4 clrInput type="time" [(ngModel)]="novoEventoTimeTemp" name="horaRealizacao"
                size="35" required placeholder="Horário do Evento" />
            </clr-input-container>

            <div class="clr-form-control from-group">
              <label class="clr-control-label">Imagem</label>
              <div class="clr-control-container">
                <input #imageInput type="file" accept="image/*">
              </div>
            </div>

            <h3>Endereço do Evento</h3>

            <clr-input-container class="form-group">
              <label>UF</label>
              <input clrInput type="text" size="10" required placeholder="Inserir UF" [(ngModel)]="novoEvento.local.uf"
                name="uf" />
              <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
            </clr-input-container>

            <clr-input-container class="form-group">
              <label>Cidade</label>
              <input clrInput type="text" size="30" required placeholder="Inserir Cidade"
                [(ngModel)]="novoEvento.local.cidade" name="cidade" />
              <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
            </clr-input-container>

            <clr-input-container class="form-group">
              <label>CEP</label>
              <input clrInput type="text" size="30" required placeholder="Inserir CEP"
                [(ngModel)]="novoEvento.local.cep" name="cep" />
              <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
            </clr-input-container>

            <clr-input-container class="form-group">
              <label>Bairro</label>
              <input clrInput type="text" size="30" required placeholder="Inserir bairro"
                [(ngModel)]="novoEvento.local.bairro" name="bairro" />
              <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
            </clr-input-container>

            <clr-input-container class="form-group">
              <label>Complemento 1</label>
              <input clrInput type="text" size="30" required placeholder="Inserir complemento"
                [(ngModel)]="novoEvento.local.complemento1" name="complemento1" />
              <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
            </clr-input-container>

            <clr-input-container class="form-group">
              <label>Complemento 2</label>
              <input clrInput type="text" size="30" placeholder="Inserir complemento"
                [(ngModel)]="novoEvento.local.complemento2" name="complemento2" />
            </clr-input-container>
          </section>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!eventForm.form.valid" [clrLoading]="submitBtnState"
          (click)="onSubmit()">Salvar</button>
        <button class="btn btn-link" type="button" routerLinkActive="active" routerLink="../../">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>