<div class="modal">
  <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" routerLinkActive="active" routerLink="../../">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        Gráfico - Número de Eventos e Postagens (2018)
      </div>
      <div class="modal-body" style="text-align: center">
        <iframe width="800" height="500" seamless frameborder="0" scrolling="no"
          src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRG5ofRksGY_UpRN8pWU3VfK0VnAM5Tm0lw29sGuzR0NF33GwUwJrrcOiBnZtogfe73M_G15OeK02X_/pubchart?oid=482609396&amp;format=interactive"></iframe>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
<router-outlet></router-outlet>