<div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" type="button" routerLinkActive="active" routerLink="../">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h3 class="modal-title">Editar perfil</h3>
            </div>
            <div class="modal-body">
              <form clrForm>
                <section  novalidate class="form-block">
  
                    <clr-input-container class="form-group">
                        <label clr-col-12 clr-col-md-4>Nome</label>
                        <input clr-col-12 clr-col-md-4 clrInput type="text" formControlName="name" size="35" required placeholder="Inserir nome"/>
                        <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
                        <clr-control-error *clrIfError="'minlength'">Nome deve ter 6+ caracteres</clr-control-error>
                    </clr-input-container>

                    <clr-input-container class="form-group">
                        <label clr-col-12 clr-col-md-4>Email</label>
                        <input clr-col-12 clr-col-md-4 clrInput type="text" formControlName="email" size="35" required placeholder="Inserir e-mail"/>
                        <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
                    </clr-input-container>

                    <clr-password-container class="form-group">
                        <label clr-col-12 clr-col-md-4>Senha</label>
                        <input clr-col-12 clr-col-md-4 clrPassword type="password" formControlName="senha" size="35" required placeholder="Inserir senha"/>
                        <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
                        <clr-control-error *clrIfError="'minlength'">Senha deve ter 6+ caracteres</clr-control-error>
                    </clr-password-container>
  
                    <clr-input-container class="form-group">
                        <label clr-col-12 clr-col-md-4>Telefone</label>
                        <input clr-col-12 clr-col-md-4 clrInput type="text" formControlName="telefone" size="35" required placeholder="(DDD)XXXX-XXXX"/>
                        <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
                        <clr-control-error *clrIfError="'minlength'">Telefone deve ter 14 caracteres</clr-control-error>
                        <clr-control-error *clrIfError="'maxlength'">Telefone deve ter 14 caracteres</clr-control-error>
                    </clr-input-container>
  
                    <clr-date-container class="form-group">
                      <label clr-col-12 clr-col-md-4>Data de nascimento</label>
                      <input clr-col-12 clr-col-md-4 type="date" clrDate name="nascimento">
                      <clr-control-helper>Inserir data de nascimento</clr-control-helper>
                      <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
                    </clr-date-container>
  
                </section>
              </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline" type="button" routerLinkActive="active" routerLink="../">Cancelar</button>
                <button class="btn btn-primary" type="button" routerLinkActive="active" routerLink="../">Salvar</button>
            </div>
        </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>