<div class="clr-row">
  <router-outlet></router-outlet>
  <div class="clr-col-12">
    <h3>Últimas postagens e eventos</h3>
  </div>
  <div class="clr-col-12">
    <app-timeline-post></app-timeline-post>
    <app-timeline-post></app-timeline-post>
    <app-timeline-evento></app-timeline-evento>
    <app-timeline-evento></app-timeline-evento>
    <app-timeline-post></app-timeline-post>
    <app-timeline-evento></app-timeline-evento>
    <app-timeline-post></app-timeline-post>
  </div>
  <button class="btn btn-sm btn-outline" style="margin: 1rem auto;">
    Carregar mais antigos
  </button>

  <button class="btn btn-primary btn-icon btnLateralSuspenso" title="Nova postagem">
    <clr-icon shape="plus"></clr-icon>
  </button>
</div>