<h2>
  Nome do Evento
</h2>
<div class="clr-row">

  <div class="clr-col">
    <div class="card-img">
      <img src="assets/images/evento.jpg" alt="ong" style="max-height:400px;object-fit: cover;" />
    </div>
  </div>

  <div class="clr-break-row"></div>

  <!-- Coluna da esquerda -->
  <div class="clr-col-sm-12 clr-col-md-auto">
    <div class="clr-row">
      <div class="clr-col">
        <!-- Card com informações-->
        <a routerLinkActive="active" routerLink="/ong/ong123" class="card clickable">
          <div class="card-header" style="height:auto; overflow:auto;">
            <span class="p4">Realização</span> Nome da ONG <img class="ong-card" src="assets/images/ong.png" />
          </div>
        </a>
        <div class="card">
          <div class="card-block">
            <div class="card-title">
              Informações
            </div>
            <div class="card-text">
              <clr-icon shape="map-marker" class="is-info"></clr-icon> <strong> Local:</strong> Setor Sudoeste
              <br>
              <clr-icon shape="calendar" class="is-info"></clr-icon> <strong> Data:</strong> 25/05/2019
              <br>
              <clr-icon shape="clock" class="is-info"></clr-icon> <strong> Horário:</strong> 09:00
            </div>
          </div>
          <div class="card-block">
            <div class="card-title">
              Categorias
            </div>
            <div class="card-text">
              <a class="label label-purple clickable" routerLinkActive="active" routerLink=".">Animais</a>
              <a class="label label-blue clickable" routerLinkActive="active" routerLink=".">Meio ambiente</a>
            </div>
          </div>
          <div class="card-footer">
            <button *ngIf="auth?.currentUserValue?.role == 'voluntario'" class="btn btn-sm btn-link">
              <clr-icon shape="heart"></clr-icon> Favoritar
            </button>
            <button class="btn btn-sm btn-link">
              <clr-icon shape="share"></clr-icon> Compartilhar
            </button>
          </div>
        </div>
        <!-- Editar/Deletar evento-->
        <div *ngIf="auth?.currentUserValue?.role == 'ong' || auth?.currentUserValue?.role == 'admin'" class="clr-row">
          <div class="clr-col-auto">
            <button class="btn btn-sm btn-link" routerLinkActive="active" routerLink="editar" style="margin: 1rem 0 0 auto;">
              <clr-icon shape="edit is-primary"></clr-icon> Editar Evento
            </button>
          </div>

          <div class="clr-col-auto">
            <button class="btn btn-sm btn-link" routerLinkActive="active" routerLink="excluir" style="margin: 1rem 0 0 auto;">
              <clr-icon shape="trash is-primary"></clr-icon> Excluir Evento
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Coluna da direita -->
  <div class="clr-col">
    <!-- Descrição -->
    <h3><strong>Descrição:</strong></h3>
    <h4> He was charismatic, magnetic, electric and everybody knew it. When he walked in every woman's head turned,
      everyone stood
      up to talk to him. He was like this hybrid, this mix of a man who couldn't contain himself.</h4>

    <!-- Funções -->
    <h3><strong>Funções:</strong></h3>
    <div class="clr-row">
      <div class="clr-col-lg-5 clr-col-sm-6 clr-col-12">
        <div class="card">
          <div class="card-header">
            Auxiliador(a) de idosas
          </div>
          <div class="card-block">
            <strong>Vagas restantes: </strong> 10
          </div>
          <div class="card-block">
            You can be my daddy tonight, night, night I'm neon phosphorescent Open like a Christmas present, now
          </div>
          <div *ngIf="auth?.currentUserValue?.role == 'voluntario'" class="card-footer">
            <a class="btn btn-primary">Confirmar presença</a>
          </div>
        </div>
      </div>
      <div class="clr-col-lg-5 clr-col-sm-6 clr-col-12">
        <div class="card">
          <div class="card-header">
            Lavador(a) de cachorros
          </div>
          <div class="card-block">
            <strong>Vagas restantes: </strong> 2
          </div>
          <div class="card-block">
            You can be my daddy tonight, night, night If you're seeking heaven Then you wanna come and get it, get it
          </div>
          <div *ngIf="auth?.currentUserValue?.role == 'voluntario'" class="card-footer">
            <a class="btn btn-primary">Confirmar presença</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<router-outlet></router-outlet>