<div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" type="button" routerLinkActive="active" routerLink="..">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h3 class="modal-title">Editar perfil</h3>
            </div>
            <div class="modal-body">
                <form clrForm>
                    <section class="form-block">
                        <clr-input-container class="form-group">
                            <label>Usuário</label>
                            <input clrInput type="text" size="30" required placeholder="Inserir usuário"
                                [(ngModel)]="novoVoluntario.username" name="username" />
                            <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
                        </clr-input-container>

                        <clr-password-container class="form-group">
                            <label>Senha</label>
                            <input clrPassword type="password" style="width: 195px" placeholder="Inserir senha"
                                [(ngModel)]="novoVoluntario.senha" name="senha" />
                        </clr-password-container>

                        <clr-input-container class="form-group">
                            <label>Nome</label>
                            <input clrInput type="text" size="30" required placeholder="Inserir nome"
                                [(ngModel)]="novoVoluntario.nome" name="nome" />
                            <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
                            <clr-control-error *clrIfError="'minlength'">Nome deve ter 6+ caracteres
                            </clr-control-error>
                        </clr-input-container>

                        <clr-input-container class="form-group">
                            <label>Email</label>
                            <input clrInput type="text" size="30" required placeholder="Inserir e-mail"
                                [(ngModel)]="novoVoluntario.email" name="email" />
                            <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
                        </clr-input-container>

                        <clr-date-container class="form-group">
                            <label>Data de nascimento</label>
                            <input type="date" clrDate style="width: 230px" [(ngModel)]="novoVoluntario.dataNascimento"
                                name="dataNascimento" />
                            <clr-control-error *clrIfError="'required'">Este campo é requerido</clr-control-error>
                        </clr-date-container>

                        <div class="clr-form-control from-group">
                            <label style="color: #000000; margin-left: -1.5%; margin-top: 5%; margin-right: 30%"><b>Áreas
                                    de interesse</b></label>
                            <div class="clr-control-container" style="max-width: 250px; margin-top: 5%">
                                <ng-select [items]="areas" [multiple]="true" [closeOnSelect]="false"
                                    [(ngModel)]="novoVoluntario.areasInteressadas" name="areasInteressadas">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                            name="id-{{index}}" />
                                        {{item}}
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>

                        <div class="clr-form-control from-group">
                            <label style="color: #000000; margin-left: -1.5%; margin-top: 5%; margin-right: 30%">
                                <b>Imagem</b>
                            </label>
                            <div class="clr-control-container" style="max-width: 250px; margin-top: 5%">
                                <input #imageInput type="file" accept="image/*"
                                    (change)="imgChangeListener(imageInput)">
                            </div>
                        </div>
                    </section>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline" type="button" routerLinkActive="active"
                    routerLink="..">Cancelar</button>
                <button class="btn btn-primary" type="button" (click)="onSubmit()" [clrLoading]="submitBtnState">Salvar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>