<clr-tabs>
  <clr-tab>
    <button clrTabLink>Dados gerais</button>
    <clr-tab-content>
      <div class="clr-row">
        <div class="clr-col-lg-3 clr-col-md-3 clr-col-12">
          <a class="card clickable" routerLinkActive="active" routerLink=".">
            <div class="card-img">
              <img src="assets/images/avatar-2.jpg" alt="avatar">
            </div>
          </a>
        </div>
        <div class="clr-col-lg-3 clr-col-md-3 clr-col-12">
          <h5><b>Nome</b></h5>
          <h5><b>E-mail</b></h5>
          <h5><b>Telefone</b></h5>
          <h5><b>Idade</b></h5>
          <div>
            <h5><b>Interesses</b></h5>
          </div>
        </div>
        <div class="clr-col-lg-6 clr-col-md-6 clr-col-12">
          <h5>Bette Davis</h5>
          <h5>bettinha@hollywood.com</h5>
          <h5>555-123-678</h5>
          <h5>82 anos</h5>
          <div style="margin-top: 5%">
            <a class="label label-purple clickable" routerLinkActive="active" routerLink=".">Arte e cultura</a>
            <a class="label label-orange clickable" routerLinkActive="active" routerLink=".">Humanitária</a>
            <a class="label label-blue clickable" routerLinkActive="active" routerLink=".">Meio ambiente</a>
          </div>
        </div>
      </div>
      <div *ngIf="auth?.currentUserValue?.role == 'voluntario' || auth?.currentUserValue?.role == 'admin'"
        class="clr-row">
        <div class="clr-col-lg-1 clr-col-md-1 clr-col-12">
          <button class="btn btn-link" routerLinkActive="active" routerLink="editar">Editar perfil</button>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Participação em eventos</button>
    <clr-tab-content>

      <div class="clr-row">

        <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
          <div class="card">
            <div class="card-block">
              <div class="card-title">
                <b>Evento 1</b>
              </div>
              <div class="card-text" style="height: 220px;">
                <br /><b>ONG:</b>
                <br />Bluepeace
                <br /><b>Data</b>
                <br />25/05/1541
                <br /><b>Local</b>
                <br />Campus Samambaia
                <br /><b>Função</b>
                <br />Logística
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link" routerLinkActive="active" routerLink="/evento/1">Ver evento</button>
            </div>
          </div>
        </div>

        <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
          <div class="card">
            <div class="card-block">
              <div class="card-title">
                <b>Evento 2</b>
              </div>
              <div class="card-text" style="height: 220px;">
                <br /><b>ONG:</b>
                <br />Yellowpeace
                <br /><b>Data</b>
                <br />25/05/1541
                <br /><b>Local</b>
                <br />Campus Samambaia
                <br /><b>Função</b>
                <br />Parte técnica
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link" routerLinkActive="active" routerLink="/evento/1">Ver evento</button>
            </div>
          </div>
        </div>

        <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
          <div class="card">
            <div class="card-block">
              <div class="card-title">
                <b>Evento 3</b>
              </div>
              <div class="card-text" style="height: 220px;">
                <br /><b>ONG:</b>
                <br />Redpeace
                <br /><b>Data</b>
                <br />25/05/1541
                <br /><b>Local</b>
                <br />Campus Samambaia
                <br /><b>Função</b>
                <br />Divulgação
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link" routerLinkActive="active" routerLink="/evento/1">Ver evento</button>
            </div>
          </div>
        </div>

      </div>


    </clr-tab-content>
  </clr-tab>

</clr-tabs>
<router-outlet></router-outlet>