.margin-data {
    margin-left: 5%;
}

.seguidor-card {
    max-width: 80px; 
    max-height: 80px; 
    border-radius: 50%;
    float: right;
    object-fit: cover;
    padding: 0;
    margin: 0;
    background-color: white;
    box-shadow: 0 2px 3px rgb(129, 129, 129);
}