<div class="clr-row">
  <!--<router-outlet></router-outlet>-->
  <div class="clr-col-12">
    <div class="clr-row">
      <div class="clr-col">
        <h3>Eventos</h3>
      </div>
      <div *ngIf="auth?.currentUserValue?.tipo == 'ong'" class="clr-col-auto">
        <button class="btn btn-sm" routerLinkActive="active" routerLink="add"
          style="margin: 1rem 0 0 auto; display: table;">
          <clr-icon shape="plus is-primary"></clr-icon> Novo Evento
        </button>
      </div>
      <!--<router-outlet></router-outlet>-->
      <div class="clr-col-auto">
        <button class="btn btn-sm" routerLinkActive="active" routerLink="filtrar"
          style="margin: 1rem 0 0 auto; display: table;">
          <clr-icon shape="search is-primary"></clr-icon> Filtrar Eventos
        </button>
      </div>
    </div>
  </div>

  <div class="clr-row">
    <div class="clr-col-xl-4 clr-col-lg-6 clr-col-md-6 clr-col-12" *ngFor="let evento of eventos">
        <a routerLinkActive="active" routerLink="/evento/{{evento.id}}" class="card clickable">
          <div class="card-header clr-row">
            <div class="clr-col">
              {{evento.nome}}
              <div *ngFor="let ong of ongs">
                  <div *ngIf="evento.idOng === ong.id">
                    <small><br>{{ ong.nome }}</small>
                  </div>
              </div>
            </div>
            <br>
          </div>

          <div class="card-img">
            <img src="assets/images/evento.jpg" alt="ong" style="max-height:200px;object-fit: cover;" />
          </div>
          <div class=" card-block">
            <div class="card-text" style="height: 100px">
              <div class="clr-row" style="margin-bottom:5px;">
                <div class="clr-col-auto">
                  <clr-icon shape="clock" class="is-info"></clr-icon>
                  {{evento.dataRealizacao}}
                </div>
                <div class="clr-col-auto">
                  <clr-icon shape="map-marker" class="is-info"></clr-icon>
                  {{evento.local.bairro}}
                </div>
              </div>
              {{evento.descricao}}
            </div>
          </div>
          </a>
    </div>
  </div>

</div>
<router-outlet></router-outlet>